@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");



:root {
  --primary: #293264;
  --secondary: #d6dbf5;
}
body {
  font-family: "Cabin", sans-serif;
}

.intro-wrapper {
  background: url("/src/assets/blob1.png") top -100px right -90px no-repeat, url("/src/assets/blob2.png") bottom -100px left -90px no-repeat, #f5f7fb;
  width: 550px;
  height: 550px;
}

.questions-wrapper {
  background: url("/src/assets/blob1.png") top -100px right -200px no-repeat, url("/src/assets/blob2.png") bottom -100px left -200px no-repeat, #f5f7fb;
  width:  100%;
}

.answer {
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
.answered {
  pointer-events: none;
  cursor: no-drop;
}



.check-answer{
 width: 25%;
}

@media(max-width:767px){
  label{
     min-width: 300px;
  }
  .check-answer{
    width: 50%;
   }
}